name: RDP-Link-Fix-Final
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing System
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
      - name: User Setup
        run: |
          net user runneradmin Pass123 /add
          net localgroup administrators runneradmin /add
      - name: Generating Link
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe
          Write-Host "LINK GENERATING... PLEASE WAIT 40 SECONDS"
          ./cloudflared.exe tunnel --url rdp://localhost:3389
