name: RDP-Tailscale-Final-Fixed
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Install Tailscale
        shell: powershell
        run: |
          curl.exe -L https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -o tailscale-setup.exe
          Start-Process -FilePath .\tailscale-setup.exe -ArgumentList '/quiet /norestart' -Wait

      - name: Connect to Tailscale
        shell: cmd
        run: |
          "C:\Program Files\Tailscale\tailscale.exe" up --authkey=tskey-auth-kkTv31Yojt11CNTRL-HaxAxQjmXV9ZGKCvvwXtV9ziY2WxYP8m

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Create SMM User
        run: |
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add

      - name: RDP is Ready
        run: |
          Write-Host "Tailscale Dashboard check karein!"
          Start-Sleep -Seconds 21600
