name: 24h Windows RDP
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 1440  # 24 ghante ka time

    steps:
      - name: Preparing Environment
        run: |
          # Username aur Password setup
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add
          echo "User Created!"

      - name: Install Cloudflared
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe
          echo "Cloudflared Installed"

      - name: Enable Remote Desktop
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

      - name: Generate Link and Start RDP
        run: |
          # Is step mein aapko trycloudflare.com wala link nazar ayega
          .\cloudflared.exe tunnel --url rdp://localhost:3389
