name: RDP-Final-No-Input-Error
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Install Tailscale MSI
        shell: powershell
        run: |
          # MSI download aur silent install
          $url = "https://pkgs.tailscale.com/stable/tailscale-setup-latest.msi"
          $outpath = "$PSScriptRoot\tailscale.msi"
          Invoke-WebRequest -Uri $url -OutFile $outpath
          Start-Process msiexec.exe -ArgumentList "/i $outpath /qn /norestart" -Wait

      - name: Connect to Tailscale
        shell: cmd
        run: |
          :: Direct path se connect karna taake koi input error na aaye
          "C:\Program Files\Tailscale\tailscale.exe" up --authkey=tskey-auth-kkTv31Yojt11CNTRL-HaxAxQjmXV9ZGKCvvwXtV9ziY2WxYP8m --accept-routes --hostname=SMM-RDP

      - name: Setup RDP and User
        shell: cmd
        run: |
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add
          reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
          powershell Enable-NetFirewallRule -DisplayGroup "'Remote Desktop'"

      - name: Keep Alive
        shell: powershell
        run: |
          Write-Host "Tailscale Dashboard par 'SMM-RDP' check karein!"
          Start-Sleep -Seconds 21600
