name: SMM_Watchtime_24H
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing RDP
        run: |
          # Yahan machine ko active rakhne ki commands hoti hain
          echo "Machine is starting..."
      - name: Keep Alive
        run: |
          # Ye command machine ko 24 ghante tak band nahi hone degi
          $val = 24
          for($i=1; $i -le $val; $i++) {
            Write-Host "Keeping machine alive - Hour $i"
            Start-Sleep -Seconds 3600
          }
