name: RDP-Link-Auto-Fix

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Preparing RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Creating User Account
        continue-on-error: true
        run: |
          net user runneradmin Pass123 /add
          net localgroup administrators runneradmin /add

      - name: Starting Tunnel & Printing Link
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe
          Write-Host "LINK GENERATING... PLEASE WAIT 30 SECONDS"
          ./cloudflared.exe tunnel --url rdp://localhost:3389
