name: RDP-Tailscale-Final-Fixed
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Install Tailscale
        shell: cmd
        run: |
          curl.exe -L https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -o tailscale-setup.exe
          start /wait tailscale-setup.exe /quiet /norestart

      - name: Connect to Tailscale
        shell: pwsh
        run: |
          # Nayi key ko variable mein rakh kar connect karna
          $key = "tskey-auth-kkTv31Yojt11CNTRL-HaxAxQjmXV9ZGKCvvwXtV9ziY2WxYP8m"
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey=$key

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Create SMM User
        run: |
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add

      - name: RDP is Ready
        run: |
          Write-Host "Tailscale Dashboard par IP check karein!"
          Start-Sleep -Seconds 21600
