name: RDP_NEW_TOKEN_CHECK
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Ngrok
        run: |
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Configure Ngrok
        # Aapka naya bheja gaya token yahan add kar diya hai
        run: ngrok config add-authtoken 37KHXcCMZhTAlUs75H6y1Niz58s_7rT6yR8UxVMEAMPeFRbvW

      - name: Enable Windows RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user runneradmin P@ssw0rd! /add
          net localgroup administrators runneradmin /add

      - name: Start Ngrok Direct
        run: |
          Write-Host "Starting tunnel... Agar address na aaye to logs check karein."
          # Region 'ap' (Asia) connection ke liye behtar hai
          ngrok tcp --region ap 3389
