name: RDP-Via-Cloudflare
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Setup RDP and User
        run: |
          # User create karna aur RDP enable karna
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Install Cloudflared
        run: |
          # Cloudflare tunnel download karna
          curl.exe -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.msi -o cloudflared.msi
          msiexec.exe /i cloudflared.msi /qn

      - name: Start Cloudflare Tunnel
        shell: powershell
        run: |
          # Tunnel start karke link nikalna
          Start-Process -FilePath "cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389" -RedirectStandardOutput "tunnel_log.txt"
          Start-Sleep -Seconds 20
          $log = Get-Content "tunnel_log.txt" | Select-String "trycloudflare.com"
          Write-Host "----------------------------------------------------"
          Write-Host "Aapka RDP Address ye hai: $($log.Matches.Value)"
          Write-Host "----------------------------------------------------"
          Start-Sleep -Seconds 21600
