name: 24h Windows RDP
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 1440  # 24 ghante (1440 mins)

    steps:
      - name: Preparing Environment
        run: |
          # Username aur Password create karna
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add
          echo "User Created Successfully!"

      - name: Install Cloudflared
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe
          echo "Cloudflared Installed"

      - name: Enable Remote Desktop
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

      - name: Start Cloudflare Tunnel
        run: |
          # Is se aapka naya link generate hoga
          Start-Process powershell -ArgumentList "-NoExit -Command .\cloudflared.exe tunnel --url rdp://localhost:3389"

      - name: Wait for 24 Hours
        run: |
          # Machine ko 24 ghante zinda rakhne ke liye
          $loop = 144
          while($loop -gt 0) {
            Write-Host "RDP is Running... Time Remaining: $($loop * 10) minutes"
            Start-Sleep -Seconds 600
            $loop--
          }
