name: CLO_RDP_FIXED
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Enable Windows RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          $user = "runneradmin"
          $pass = "P@ssw0rd!"
          if (-not (Get-LocalUser -Name $user -ErrorAction SilentlyContinue)) {
              net user $user $pass /add
              net localgroup administrators $user /add
          }
      - name: Install Cloudflared
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe
      - name: Start Cloudflare Tunnel
        run: |
          ./cloudflared.exe tunnel --url rdp://localhost:3389
      - name: Keep Alive
        run: |
          Write-Host "RDP is ready."
          Start-Sleep -Seconds 21600
