name: Free-RDP
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Download Ngrok
        run: |
          $url = "https://bin.equinox.io/c/bPR98p1vXU/ngrok-v3-stable-windows-amd64.zip"
          Invoke-WebRequest -Uri $url -OutFile ngrok.zip
          Expand-Archive ngrok.zip -DestinationPath .
      - name: Authenticate Ngrok
        run: .\ngrok.exe config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Start RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Start-Process powershell -ArgumentList "-NoExit", ".\ngrok.exe tcp 3389"
      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
