name: SMM_FIX_FINAL_V4
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing RDP User
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user SMMUser Watchtime@123 /add
          net localgroup "Remote Desktop Users" SMMUser /add
          net localgroup "Administrators" SMMUser /add
          
      - name: Generate RDP Link
        run: |
          # Downloading Cloudflared Binary directly to avoid install errors
          Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe -OutFile cloudflared.exe
          Write-Host "--- NEECHE DIYE GAYE LINK KO COPY KAREIN ---"
          # Running directly from the current folder
          Start-Process "./cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389"
          Start-Sleep -Seconds 30
          
      - name: Keep Alive (24 Hours)
        run: |
          $val = 24
          for($i=1; $i -le $val; $i++) {
            Write-Host "Machine is Active - Hour $i"
            Start-Sleep -Seconds 3600
          }
