name: CI
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Ngrok
        run: choco install ngrok
      - name: Auth
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Enable TS
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
      - name: Set Password
        run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
      - name: Create Tunnel
        run: Start-Process powershell -ArgumentList "-NoExit", "ngrok tcp 3389"
      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
