name: RDP-Via-Ngrok
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Download Ngrok
        run: |
          curl.exe -L https://bin.equinox.io/c/b342PmqRi29/ngrok-v3-stable-windows-amd64.zip -o ngrok.zip
          Expand-Archive ngrok.zip

      - name: Authenticate Ngrok
        run: |
          .\ngrok\ngrok.exe config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Create SMM User
        run: |
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add

      - name: Start Ngrok Tunnel
        run: |
          Start-Process -FilePath ".\ngrok\ngrok.exe" -ArgumentList "tcp 3389"
          Start-Sleep -Seconds 10

      - name: Get RDP Address
        run: |
          $response = Invoke-RestMethod -Uri http://localhost:4040/api/tunnels
          $rdp_address = $response.tunnels[0].public_url
          Write-Host "-------------------------------------------"
          Write-Host "Aapka RDP Address ye hai: $rdp_address"
          Write-Host "-------------------------------------------"
          Start-Sleep -Seconds 21600
