name: Watchtime-15Hour-SMM
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup RDP & Cloudflare
        run: |
          Invoke-WebRequest -Uri "https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe" -OutFile "cloudflared.exe"
          net user SMMExpert Pass123 /add
          net localgroup "Remote Desktop Users" SMMExpert /add
          net localgroup "Administrators" SMMExpert /add
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Write-Host "Generating Link... Please wait 35s"
          Start-Process "./cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389" -RedirectStandardError "link_log.txt"
          Start-Sleep -Seconds 35
          Get-Content "link_log.txt" | Select-String "trycloudflare.com"

      - name: Automated-Watchtime-Engine
        run: |
          $PlaylistURL = "https://youtube.com/playlist?list=PL4nAU-8Arfz_ifcf_FzeQSCRVyawBdS5z"
          for ($i=1; $i -le 3; $i++) {
            $UserDir = "C:\SMM_Profiles\Profile_$i"
            Start-Process "chrome.exe" -ArgumentList "--url=$PlaylistURL", "--user-data-dir=$UserDir", "--disable-blink-features=AutomationControlled", "--no-sandbox", "--mute-audio", "--disable-background-timer-throttling"
            Write-Host "Profile $i started successfully."
            Start-Sleep -Seconds 15
          }
          Start-Sleep -Seconds 54000
        shell: powershell
