name: SMM_FIX_LINK_FINAL
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing RDP User
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user SMMUser Watchtime@123 /add
          net localgroup "Remote Desktop Users" SMMUser /add
          net localgroup "Administrators" SMMUser /add
          
      - name: Generate RDP Link
        shell: pwsh
        run: |
          Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe -OutFile cloudflared.exe
          # Tunnel ko start karke logs ko file mein save karna
          Start-Process "./cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389" -RedirectStandardError "tunnel.log"
          Write-Host "Link generate ho raha hai, 20 seconds wait karein..."
          Start-Sleep -Seconds 20
          # Logs se link nikaal kar screen par dikhana
          Get-Content tunnel.log | Select-String "trycloudflare.com" | ForEach-Object { Write-Host "--- AAPKA LINK YE HAI ---"; Write-Host $_ }
          
      - name: Keep Alive (24 Hours)
        run: |
          $val = 24
          for($i=1; $i -le $val; $i++) {
            Write-Host "Machine is Active - Hour $i"
            Start-Sleep -Seconds 3600
          }
