name: Professional-SMM-RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Preparing System
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Creating User
        run: |
          net user runneradmin YourPassword123 /add
          net localgroup administrators runneradmin /add

      - name: Installing Cloudflared
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe

      - name: Starting Tunnel
        run: |
          Start-Process ./cloudflared.exe -ArgumentList "tunnel --url rdp://localhost:3389"
        
      - name: Keep Alive (6 Hours)
        run: |
          echo "RDP is Ready!"
          sleep 21600
