name: CI
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup Ngrok
        run: |
          # Is line se ngrok install bhi hoga aur foran chalne ke liye tayar ho jayega
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Auth
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Create User
        run: net user runneradmin P@ssw0rd! /add ; net localgroup administrators runneradmin /add

      - name: Start Tunnel
        # Asia region use kar rahe hain takay connection fast ho
        run: Start-Process ngrok -ArgumentList "tcp --region ap 3389"

      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
