name: RDP-Stable-Link-Fix

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Preparing RDP System
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Creating User Account
        continue-on-error: true
        run: |
          net user runneradmin Pass123 /add
          net localgroup administrators runneradmin /add

      - name: Starting Tunnel & Showing Link
        run: |
          curl -L --output cloudflared.exe https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe
          Start-Process ./cloudflared.exe -ArgumentList "tunnel --url rdp://localhost:3389"
          Write-Host "Wait 30 seconds... Link is appearing below in logs"
        
      - name: Keep Alive (Don't Close)
        run: |
          echo "Check 'Starting Tunnel' step above for the .trycloudflare.com link"
          sleep 21600
