name: SMM_FINAL_SUCCESS_V3
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing RDP User
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user SMMUser Watchtime@123 /add
          net localgroup "Remote Desktop Users" SMMUser /add
          net localgroup "Administrators" SMMUser /add
          
      - name: Generate RDP Link
        run: |
          Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.msi -OutFile cloudflared.msi
          Start-Process msiexec.exe -ArgumentList "/i cloudflared.msi /quiet" -Wait
          Write-Host "--- NEECHE DIYE GAYE LINK KO COPY KAREIN ---"
          # Ye command link ko logs mein show karegi
          Start-Process "cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389"
          Start-Sleep -Seconds 20
          Get-Content -Path "C:\Windows\System32\config\systemprofile\.cloudflared\*.log" | Select-String "trycloudflare.com"
          
      - name: Keep Alive (24 Hours)
        run: |
          $val = 24
          for($i=1; $i -le $val; $i++) {
            Write-Host "Machine is Active - Hour $i"
            Start-Sleep -Seconds 3600
          }
