name: SMM_SUCCESS_NO_ERROR
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing Environment
        run: |
          # Downloading Ngrok
          Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip
          
      - name: Setting Up RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user SMMUser Watchtime@123 /add
          net localgroup "Remote Desktop Users" SMMUser /add
          net localgroup "Administrators" SMMUser /add
          
      - name: Launch Tunnel
        run: |
          # Ye command logs mein hi link dikha degi
          ./ngrok/ngrok.exe authtoken 37Sxtkon7olcYY4aafLCxNCoOB6_65cTbL9ZTwDY3ofR6uxhS
          Write-Host "RDP Starting... Please wait 20 seconds for the link below."
          ./ngrok/ngrok.exe tcp 3389 --log=stdout
