name: RDP-Final-Authentic-Method
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Install Tailscale via Chocolatey
        run: |
          choco install tailscale --fixed -y
          refreshenv

      - name: Connect to Tailscale (Direct Method)
        shell: cmd
        run: |
          :: Sabse authentic command direct key ke sath
          tailscale up --authkey=tskey-auth-kkTv31Yojt11CNTRL-HaxAxQjmXV9ZGKCvvwXtV9ziY2WxYP8m --accept-routes --hostname=Final-SMM-PC

      - name: Setup RDP and User
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add

      - name: Keep Alive
        run: |
          Write-Host "Tailscale Dashboard check karein!"
          Start-Sleep -Seconds 21600
