name: RDP-Tailscale-Final-Fixed
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Install Tailscale
        shell: powershell
        run: |
          # Sahi installation command
          curl.exe -L https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -o tailscale-setup.exe
          Start-Process -FilePath .\tailscale-setup.exe -ArgumentList '/quiet /norestart' -Wait

      - name: Connect to Tailscale
        shell: powershell
        run: |
          # Aapki key yahan set hai
          & 'C:\Program Files\Tailscale\tailscale.exe' up --authkey=tskey-auth-kCf4DKmbMw11CNTRL-ELPWnJbdLL8QuGCESyNWL8hiDjWYh7dj

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Create SMM User
        run: |
          net user SMMExpert Pass123 /add
          net localgroup administrators SMMExpert /add

      - name: RDP is Ready
        run: |
          Write-Host "Tailscale IP check karein aur connect karein!"
          Start-Sleep -Seconds 21600
