- name: Setup RDP & Cloudflare
        run: |
          # Cloudflare download aur setup
          Invoke-WebRequest -Uri "https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe" -OutFile "cloudflared.exe"
          net user SMMExpert Pass123 /add
          net localgroup "Remote Desktop Users" SMMExpert /add
          net localgroup "Administrators" SMMExpert /add
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          
          # Tunnel start karke link ko file mein save karna taake logs mein dikhe
          Start-Process "./cloudflared.exe" -ArgumentList "tunnel --url rdp://localhost:3389" -RedirectStandardError "cloudflare_log.txt"
          
          # 30 seconds wait karein taake link generate ho jaye
          Start-Sleep -Seconds 30
          
          # Logs mein link print karein
          Get-Content "cloudflare_log.txt" | Select-String "trycloudflare.com"
