name: CI
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup Ngrok
        run: |
          choco install ngrok
      - name: Auth Ngrok
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Start RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Start-Process powershell -ArgumentList "-NoExit", "ngrok tcp 3389"
      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
