name: CI
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup Ngrok
        run: |
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Auth
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Setup User
        run: |
          # Agar user pehle se hai to sirf password reset hoga, error nahi aayega
          $user = "runneradmin"
          $password = ConvertTo-SecureString "P@ssw0rd!" -AsPlainText -Force
          if (Get-LocalUser -Name $user -ErrorAction SilentlyContinue) {
              Set-LocalUser -Name $user -Password $password
          } else {
              New-LocalUser -Name $user -Password $password -FullName "Runner Admin"
              Add-LocalGroupMember -Group "Administrators" -Member $user
          }

      - name: Start Tunnel
        run: Start-Process ngrok -ArgumentList "tcp --region ap 3389"

      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
